<p id="notice"><%= notice %></p>

<p>
  <strong>Raw input:</strong>
  <%= @query.raw_input %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @query.classification %>
</p>

<p>
  <strong>User:</strong>
  <%= @query.user %>
</p>

<p>
  <strong>Resolved:</strong>
  <%= @query.resolved %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
